<!DOCTYPE html>
<html>
<head><title>Thank You</title></head>
<body>
    <h1>Thanks, <%= name %>!</h1>
    <p>Email: <%= email %></p>
    <p>Age: <%= age %></p>
    <p>Your feedback:</p>
    <blockquote><%= feedback %></blockquote>
    <a href="/">Submit another</a>
</body>
</html>
